In [1]:
import pandas as pd

In [2]:
file_path = 'Resources/population_by_country_2020.csv'

In [3]:
df = pd.read_csv(file_path)
df.head()

,Country (or dependency),Population (2020),Yearly Change,Net Change,Density (P/Km²),Land Area (Km²),Migrants (net),Fert. Rate,Med. Age,Urban Pop %,World Share
0,China,1438207241,0.39 %,5540090,153,9388211,-348399.0,1.7,38,61 %,18.47 %
1,India,1377233523,0.99 %,13586631,464,2973190,-532687.0,2.2,28,35 %,17.70 %
2,United States,330610570,0.59 %,1937734,36,9147420,954806.0,1.8,38,83 %,4.25 %
3,Indonesia,272931713,1.07 %,2898047,151,1811570,-98955.0,2.3,30,56 %,3.51 %
4,Pakistan,219992900,2.00 %,4327022,287,770880,-233379.0,3.6,23,35 %,2.83 %

In [4]:
df.columns

Index(['Country (or dependency)', 'Population (2020)', 'Yearly Change',
       'Net Change', 'Density (P/Km²)', 'Land Area (Km²)', 'Migrants (net)',
       'Fert. Rate', 'Med. Age', 'Urban Pop %', 'World Share'],
      dtype='object')

In [5]:
# grab desired columns
cleaned_df = df[['Country (or dependency)', 'Population (2020)', 'Land Area (Km²)', 'Density (P/Km²)', 'World Share']]

In [6]:
# rename columns
cleaned_df.columns=['Country', 'Population', 'Land_Area', 'Pop_Density', 'Percent_World_Pop']

In [7]:
cleaned_df.head()

         Country  Population  Land_Area  Pop_Density Percent_World_Pop
0          China  1438207241    9388211          153           18.47 %
1          India  1377233523    2973190          464           17.70 %
2  United States   330610570    9147420           36            4.25 %
3      Indonesia   272931713    1811570          151            3.51 %
4       Pakistan   219992900     770880          287            2.83 %

In [8]:
cleaned_df.Percent_World_Pop = cleaned_df.Percent_World_Pop.map(lambda x: x.split(' ')[0])

C:\Users\JordanRoessle\anaconda3\lib\site-packages\pandas\core\generic.py:5168: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[name] = value

In [9]:
cleaned_df.head()

         Country  Population  Land_Area  Pop_Density Percent_World_Pop
0          China  1438207241    9388211          153             18.47
1          India  1377233523    2973190          464             17.70
2  United States   330610570    9147420           36              4.25
3      Indonesia   272931713    1811570          151              3.51
4       Pakistan   219992900     770880          287              2.83

In [10]:
cleaned_df.to_csv('cleaned_population_by_country')