In [1]:
import pandas as pd

In [2]:
pop = pd.read_csv('Resources/cleaned_data/cleaned_population_by_country.csv')
pop.head()

         Country  Population  Land_Area  Pop_Density  Percent_World_Pop
0          China  1438207241    9388211        153.0              18.47
1          India  1377233523    2973190        464.0              17.70
2  United States   330610570    9147420         36.0               4.25
3      Indonesia   272931713    1811570        151.0               3.51
4       Pakistan   219992900     770880        287.0               2.83

In [3]:
gdp = pd.read_csv('Resources/cleaned_data/cleaned_gdp_country.csv')
gdp.head()

       Country  GDP_in_millions
0  Afghanistan     1.929110e+04
1       Angola     8.881570e+04
2      Albania     1.527918e+04
3      Andorra     3.154058e+03
4   Arab World     2.817415e+06

In [4]:
merged = pd.merge(pop, gdp)

In [5]:
merged.head()

,Country,Population,Land_Area,Pop_Density,Percent_World_Pop,GDP_in_millions
0,China,1438207241,9388211,153.0,18.47,1.427994e+07
1,India,1377233523,2973190,464.0,17.70,2.868929e+06
2,United States,330610570,9147420,36.0,4.25,2.143323e+07
3,Indonesia,272931713,1811570,151.0,3.51,1.119191e+06
4,Pakistan,219992900,770880,287.0,2.83,2.782219e+05

In [6]:
testing = pd.read_csv("Resources/cleaned_data/cleaned_billionaires.csv")
for country in list(testing['Country']):
    if country not in list(merged['Country']):
        print(country)

In [7]:
merged.to_csv('Resources/cleaned_data/merged_pop_gdp.csv', index=False)